
<div class="flex justify-around">
<h1 class="mb-4 ml-5 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">Available Items</h1>
<a class="bg-blue-500 md:bg-green-500 p-2 rounded-lg" routerLink="/add" >Add new Items</a>
</div>
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    
    <table class="w-full text-sm text-left text-gray-500 bg-slate-50">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Product name
                </th>
         
                <th scope="col" class="px-6 py-3">
                    Price
                </th>
                <th scope="col" class="px-6 py-3">
                    URL
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
                <th scope="col" class="px-6 py-3">
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700" *ngFor="let item of items">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{item.name}}
                </th>
                <td class="px-6 py-4">
                    {{item.price}}
                </td>
                <td class="px-6 py-4">
                    {{item.url}}
                </td>

                <td class="px-6 py-4">
                    <!-- Modal toggle -->
                    <a type="button"class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="OnClick()">Edit</a>
                </td>
                <td class="px-6 py-4">
                    <!-- Modal toggle -->
                    <a type="button"class="font-medium text-blue-600 dark:text-blue-500 hover:underline" (click)="Delete(item)">Delete</a>
                </td>

                <!-- <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                </td> -->
            </tr>
           
        </tbody>
    </table>
</div>


